
body{
  background-image: url('../images/retro-squares-000505-light-sky-blue.jpg');
  height: 100vh;
}

.centered{
  width: 63%;
  margin: 0 auto;
  position: relative;
}

.neat-contained{
  width: 90%;
  margin: 1rem auto;
}

.main-content{
  min-height: 90vh;
}

.feed{
  background: white;
  width: 70%;
  float: left;
  min-height: 90vh;
}

.textbox{
  width: 100%;
  height: 4rem;
}

.tweet-button{

}

.tweet-button:hover{
  cursor: pointer;
}
.info{
  width: 30%;
  float: left;
  background: lightblue;
  min-height: 90vh;
}
